:root {
  font-size: small;
  line-height: 1.5;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0!important;
  height: 100vh!important;
  width: 100vw;
  overflow:hidden;
}


#app {
  /* max-width: 1280px;
  margin: 0 auto; */

  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: calc(100vh - 20rem) 20rem;
}

button {
  display: inline-block;
  line-height: 1em;
  vertical-align: middle!important;
  border-width: 4px;
  padding: 0.6em 0.6em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  min-height: 3em;

}

button:hover {
  font-weight: bold;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}


.ui-pane {
  margin: 0!important;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100vw;
  overflow-y: hidden;
  background-color: rgb(230, 230, 230);
  gap: 1em;
}

.ui-pane>*{
  height: 100%;
  overflow-y: scroll;
  padding-top: 1em;
  padding-bottom: 1em;
}

.double-col {
  display: flex;
  gap: 0.5em;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.button-grid {
  column-fill: balance;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, 3em);
  grid-auto-rows: 3em;
  height: calc(100% - 0.5em);
}

.tp-lblv {
  flex-direction: column !important;
}

.tp-radv_t {


  text-align: left !important;
}
*{
  font-family: monospace, 'Courier New', Courier, monospace;
  box-sizing: border-box;
  scrollbar-color: rgba(128,128,128,0)!important;
  scrollbar-width: none!important;
}